@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Lora:ital@0;1&family=Montserrat:wght@300&family=Playfair+Display:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin:0;
    padding: 0;
    background-color: #fffdf9;
    background-repeat: no-repeat;
    object-fit: fill;
}
